body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: maroon;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 h2{
    font-family: 'Golos Text', sans-serif;
}

header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid white;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px ;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: maroon;
    margin: 40px 0 10px;
}

a{
    color: maroon;
}

a:hover{
    background-color: orchid;
    color: wheat;
}

footer{
    background-color: maroon;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p{
    margin: 0;   
}

footer a{
    color: white;
}

footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    color: gray;
    font-style: italic;
    margin-top: 0;
}